.card-img-top {
  width: 100%;
}

.doc-block {
  margin: 20px 20px;
}

.doc-row {
  display: flex;
  justify-content: center;
}

.headline {
  display: flex;
  justify-content: center;
}

.card {
  padding: 0px;
}
